html {
    scroll-behavior: smooth;
  }  

.jumbotron {
  background-color: #d9afd9;
  background-image: linear-gradient(180deg, #d9afd9 0%, #97d9e1 100%);
}
#projects {
    background-color: #97d9e1; 
}

section {
    padding-top: 5rem;
}