:root {
  --dark-mode: #fff;
  --dark-mode-1: #b3b3b3;
  --dark-mode-2: #404040;
  --dark-mode-3: #212529;
  --dark-mode-4: #181818;
  --nav-dark-mode: #212529;
  --project: #97d9e1;
}

html[data-color-mode="dark"] {
  --dark-mode: #212529;
  --text-dark-mode: #fff;
  --dark-mode-1: #b3b3b3;
  --dark-mode-2: #404040;
  --dark-mode-3: #181818;
  --nav-dark-mode: #404040;
  --project: #b3b3b3;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: var(--nav-dark-mode);
}

.jumbotron {
  /* height: 500px; */
  background-image: url('/img/header-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron img {
  position: relative;
  z-index: 1;
}

.jumbotron h1, .jumbotron p {
  text-shadow: 1px 1px 4px #000;
}

#projects {
  background-color: var(--project);
}

.bout-end {
  fill: var(--project);
}

section {
  padding-top: 5rem;
}

#about {
  background-color: var(--dark-mode);
  color: var(--text-dark-mode);
}

#contact {
  background-color: var(--dark-mode);
  color: var(--text-dark-mode);
}

.path-end {
  fill: var(--dark-mode);
}

.icon-link {
  color: var(--text-dark-mode);
}

.foot-end {
  background-color: var(--nav-dark-mode);
}

.path-foot {
  fill: var(--nav-dark-mode);
}

#dark-mode {
  border-radius: 10px;
}

.svg {
  position: relative;
  z-index: 10;

}
